body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", Lucida Sans Unicode, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  margin-bottom: 20px;
}

a,
a:visited {
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

a {
  color: #CF000F;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #007DA0;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  line-height: 28px;
}

::-moz-selection {
  text-shadow: none;
  background: #1F1F1F;
  color: #FFF;
}

::selection {
  text-shadow: none;
  background: #1F1F1F;
  color: #FFF;
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

hr {
  margin: 30px 0;
  border-top: 1px solid #EFEFEF;
}

body {
  webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}


/* ==========================================================================
Classes
 ========================================================================== */

.headline {
  text-align: center;
}

.headline h1 {
  color: #31373a;
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-bottom: 2px solid #DDD;
  display: inline-block;
}

.headline p {
  margin-bottom: 50px;
}

.section {
  padding: 100px 0;
}

.section-detail {
  padding: 150px 0;
}

.padding70top {
  padding-top: 70px;
}

.bordered {
  border: 1px solid #DDD;
}

.border-left {
  border-left: 1px solid #DDD;
}

.border-right {
  border-right: 1px solid #DDD;
}

.border-top {
  border-top: 1px solid #DDD;
}

.border-bottom {
  border-bottom: 1px solid #DDD;
}

.nopadding-bottom {
  padding-bottom: 0;
}

.divider70 {
  clear: both;
  height: 70px;
}

.divider20 {
  clear: both;
  height: 20px;
}

.divider35 {
  clear: both;
  height: 35px;
}

.btn {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.blue-btn {
  padding: 12px 15px;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #CF000F;
  color: white;
}

.blue-btn:hover {
  background-color: #31373a;
  color: #FFF;
}

.text-center img {
  display: block;
  margin: 0 auto;
}


/* ==========================================================================
Color Customizations
 ========================================================================== */

.bg-white {
  background-color: #FFF;
}

.bg-grey {
  background-color: #F8F8F8;
}

.bg-grey2 {
  background-color: #F5F5F5;
}

.bg-blue {
  background-color: #CF000F;
}

.client-bg {
  background: url(../../ast/i/testimonial-bg.jpg) no-repeat center center fixed;
}

.bg-stats {
  background: url(../../ast/i/about-bg.jpg) no-repeat center center fixed;
}

.bg-ipad {
  background: url(../../ast/i/ocean.jpg) no-repeat center center fixed;
}

.bg-notebook {
  background: url(../../ast/i/notebook-bg.jpg) no-repeat center center fixed;
}

.bg-ocean {
  background: url(../../ast/i/ocean.jpg) no-repeat center center fixed;
}

.bg-grey-pattern {
  background: url(../../ast/i/grey-pattern.jpg);
}

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.color-blue {
  color: #CF000F;
}

.color-white {
  color: #FFF;
}

.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: -moz-radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: -ms-radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%);
  background: radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
}


/* ==========================================================================
 Navigation
 ========================================================================== */


.navbar-inverse {
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 15px 0;
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
  background-color: transparent;
  background: none;
  border: none;
}

.navbar-inverse.color {
  background-color: #CF000F;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  display: block;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.menu-right {
  float: right;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li {
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  background-color: transparent;
}

.navbar-brand {
  padding: 10px 15px;
}

.navbar-brand:hover {
  color: #fff;
}

.scroll-fixed-navbar {
  padding: 10px 0;
  background-color: #CF000F;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.scroll-fixed-navbar .navbar-nav>li>a:hover,
.scroll-fixed-navbar .navbar-nav>li.active>a {
  color: #333;
}

.navbar-toggle {
  position: relative;
  float: right;
  background-color: transparent;
  padding: 10px;
  margin: 7px 15px 0 0;
  border: none;
  color: #fff;
  border: 2px solid #fff;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: rgba(0, 0, 0, 0.1);
}


/* ==========================================================================
Logo
 ========================================================================== */

.navbar-inverse .navbar-brand {
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  padding: 0;
}


/* ==========================================================================
Intro Slider
 ========================================================================== */

html,
body {
  height: 100%;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.slide1 {
  background-image: url(../../ast/i/notebook-bg.jpg);
}

.slide2 {
  background-image: url(../../ast/i/mac-bg.jpg);
}

.slide3 {
  background-image: url(../../ast/i/ipad-bg.jpg);
}

#main-slider {
  background: #1A1A1A;
}

#main-slider .carousel-caption {
  top: 65%;
  text-align: center;
}

#main-slider .carousel-caption h2 {
  font-size: 50px;
}

#main-slider .carousel-caption h4 {
  padding-top: 15px;
  border-top: 3px solid #DDD;
  display: inline-block;
  color: #EFEFEF;
  margin-top: 10px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}


#main-slider .carousel [data-slide] {
  visibility: hidden;
}

#main-slider .carousel:hover [data-slide] {
  visibility: visible;
}

/* ==========================================================================
Intro
 ========================================================================== */

.main-point {}

.main-point p {
  margin-bottom: 0;
}

.main-point i {
  background-color: #CF000F;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  color: #FFF;
  line-height: 70px;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  margin-right: 30px;
  float: left;
  margin-right: 20px;
}

.main-point h4 {
  margin-bottom: 10px;
}


/* ==========================================================================
About
 ========================================================================== */

.blog-holder {
  padding: 7px;
}

.blog-detail {
  text-align: center;
  background-color: #FFF;
  border-radius: 4px;
  padding-bottom: 30px;
  margin-top: 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.blog-detail:hover {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.blog-detail h4 {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 2px solid #DDD;
}

.blog-detail img {
  margin-bottom: 20px;
  border-radius: 4px 4px 0 0;
}

.blog-social {
  display: block;
}

.blog-social li {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid #EFEFEF;
  line-height: 40px;
}

.blog-social li:hover a {
  color: #31373a;
}

/* ==========================================================================
Client
 ========================================================================== */

.client-inner {
  text-align: center;
  padding: 7px;
}

.client-inner img {
  margin-bottom: 15px;
}

.client-inner p {
  display: block;
  position: relative;
  font-size: 16px;
}

.client-inner p::before {
  font-family: 'FontAwesome';
  content: "\f10d";
  font-size: 20px;
  font-weight: bold;
  padding-right: 30px;
  font-weight: normal;
}

.client-inner small {
  display: inline-block;
  border-top: 2px solid #333;
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
}


/* ==========================================================================
Services
 ========================================================================== */

 .equal{
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display:         flex;
   width: 100%;
    flex-wrap: wrap;
 }

 .equal .col-lg-3 {
     margin-bottom: 20px;
 }

.services-list {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  padding: 35px;
  text-align: center;
  height: 100%;
}

a:hover .services-list {
  background-color: #CF000F;
  color: #fff;
}

.services-list h4 {
  margin: 0;
}
.services-list i {
  background-color: #CF000F;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  color: #FFF;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  margin-right: 30px;
  float: left;
  margin-right: 20px;
}

#program .program {
  margin-bottom: 30px;
}

#program .services-list {
  display: table;
  width: 100%;
}

#program .services-list h4 {
  display: table-cell;
  vertical-align: middle;
}


/* ==========================================================================
Contact
 ========================================================================== */

.contact-form input.form-control[type="text"],
.contact-form textarea.form-control {
  color: #818181;
  outline: none;
  width: 100%;
  padding: 20px 20px;
  display: block;
  margin-bottom: 15px;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.contact-form textarea.form-control {
  min-height: 200px;
}

.contact-form button {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  background: #CF000F;
  margin-bottom: 15px;
  border: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-form button i {
  color: #fff;
  font-size: 24px;
}

.contact-form button:hover {
  opacity: 0.8;
}

.contact-list i {
  border: 1px solid #DDD;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#map {
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#footer {
  background-color: #31373a;
  padding: 10px 0;
}

#footer p {
  color: #aaa;
  margin-bottom: 0;
  font-size: 13px;
}

#footer img {
    width: 75px;
    margin: 0;
    display: inline;
}

.slick-dots button:before {
  font-size: 13px!important;
}

a.scroll-up {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px 10px;
  background: #CF000F;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: -moz-transform 0.8s ease-in-out;
  -o-transition: -o-transform 0.8s ease-in-out;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  -webkit-backface-visibility: hidden;
}

a.scroll-up i {
  color: #FFF;
}

a.scroll-up:hover,
a.scroll-up:focus {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  background: #31373a;
}

.view-all {
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {}


@media only screen and (min-width: 480px) and (max-width: 767px) {
  .menu-right {
    background: #CF000F;
  }
  .navbar-inverse .navbar-toggle {
    padding: 10px;
    background: #333;
  }
  .navbar-inverse .navbar-nav>li>a {
    text-align: center;
  }
  .menu-right {
    float: none;
  }
  p {}
  h4 {}
  hr {
    margin: 15px 0;
  }
  .call-to-action h4 {
    border: none;
  }
  .call-to-action h4 strong {
    display: block;
    margin-bottom: 10px;
  }
  .headline h1 {}
  .section {
    padding: 70px 0;
  }
  .main-point {
    margin-bottom: 40px;
  }
  .stats {
    margin-bottom: 50px;
  }
  .services-list i {
    margin-bottom: 20px;
  }
  .video-container {
    margin-bottom: 40px;
  }
  .blog-holder {
    width: 80%;
    float: none;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 479px) {
  .navbar-inverse .navbar-brand {
    margin-left: 15px;
  }
  .menu-right {
    background: #CF000F;
  }
  .navbar-inverse .navbar-toggle {
    padding: 10px;
    background: #333;
  }
  .navbar-inverse .navbar-nav>li>a {
    text-align: center;
  }
  .menu-right {
    float: none;
  }
  p {
    font-size: 13px;
  }
  h4 {
    font-size: 16px;
    line-height: 25px;
  }
  hr {
    margin: 15px 0;
  }
  .call-to-action h4 {
    border: none;
  }
  .call-to-action h4 strong {
    display: block;
    margin-bottom: 10px;
  }
  .headline h1 {
    font-size: 30px;
  }
  .section {
    padding: 50px 0;
  }
  .main-point {
    margin-bottom: 40px;
    border: none;
    float: none;
    width: 100%;
  }
  .stats {
    margin-bottom: 50px;
    float: none;
    width: 100%;
  }
  .blog-holder {
    width: 80%;
    float: none;
    margin: 20px auto;
  }
  .services-list i {
    margin-bottom: 20px;
  }
  .video-container {
    margin-bottom: 40px;
  }
  .img-cover h3 {
    display: none;
  }
  #footer {
    text-align: center;
  }
  .copyright {
    float: none;
  }
}